html{
    background-color:#40A2E3;
}

h1 {
  padding: 8px;
  background: rgba(255, 0, 0, 0.8);
  border-radius: 8px;
  margin: 0;
  font-size: 64px;
  font-family: "Roboto Slab", serif;
}
button{
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid green;
  padding:8px;
  background:rgb(187, 226, 236);
  margin:0;
  font-size:50 px;
  font-family: "Roboto Slab", serif;
  box-shadow: inset 8px 3px 18px -4px rgba(0, 0, 0, 0.4);

}



#encode_button{
  height: 50px;
  position: absolute;
  top: 50%;
  left: 42%;
  border: 3px solid green;
  padding:8px;
  background:rgb(187, 226, 236);
  margin:0;
  font-size:50 px;
  font-family: "Roboto Slab", serif;
}
input{
  height: 50px;
  width : 208px;
  position:absolute;
  top:  49%;
  left: 30%;
  border: 3px solid green;
  padding:8px;
  background:rgb(13, 146, 118);
  margin:0;
  font-size:50 px;
  font-family: "Roboto Slab", serif;
  font-color:rgb(255, 83, 53);
}
p {
  line-height: 1.5;
  position:relative;
  top:50%;
  left:30%;
  font-size:15px;
}
#intro_text{
    position:absolute;
    left: 20%;
}
.background{
border: 5px solid blue;
width:500px;
height :300px;
position:absolute;
top:45%;
left:32%;
border-color = rgb(180, 212, 255);
border-background-color = rgb(0,0,139);
box-shadow: inset 8px 3px 18px -4px rgba(0, 0, 0, 0.4);
}
.info{
position:absolute;
top:55%;
left:35%;
width:450px;
}